
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    
    &__button {
        padding: 0.75rem 1.5rem;
        color: #fff;
        /* P3/Gotham/Book/Active/left */
        font-family: $font2;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 1rem */
        letter-spacing: -0.05rem;
        text-transform: capitalize;
        border-radius: 0.25rem;
        border: none;
        background: var(--main-colors-gray-4, #292929);
        @media (prefers-color-scheme: dark) {
            background: var(--main-colors-purple-5, #925FF0)
        }
    }

    &__logo {
        background-image: url('./img/light/Logo.svg');
        width: 4.5625rem;
        height: 1.6875rem;
        background-size: cover;
        @media (prefers-color-scheme: dark) {
            background-image: url('./img/dark/Logo.svg');
        }
        @media (max-width: 430px) {
            scale: 0.72507;
        }
    }

    

    &__link {
        display: block;
        font-family: $font2;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 1.25rem */
        letter-spacing: -0.0625rem;
        color: var(--color);
    }

    

    &__burger{
        display: none;
        width: 24px;
        height: 24px;
    }

  }

.burger {
    display: none;
    @media (max-width: 430px) {
        display: flex;
        align-items: center;
    }
}

.navbar__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.box {
    display: none;
}

.burger_span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #9D174D;
}

.navbar__burger__label__block {
    display: none;
    @media (max-width:430px) {
        display: flex;
    }
}

.burger_label {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    left: 24px;
}

.burger_bottom {
    margin-bottom: 5px;
}

.navbar__link {
    @media (max-width:430px) {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; 
        padding-bottom: 1.88rem;
    }
}

.navbar__link:hover{
    @media (max-width:430px) {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5rem; 
        padding-bottom: 1.88rem;
    }
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, -2%, 0);
    }
}

@keyframes fadeIn {
    from {opacity: 0; visibility: visible;}
    to {opacity: 1; visibility: visible;}
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 1.88rem;
    @media (max-width:430px) {
        position: absolute;
        display: flex;
        align-items: center;
        height: 18.125rem;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(7.5px); 
        top: 100%;
        width: 100%;
        left: -1px;
        flex-direction: column;
    }
}

.navbar__link__first{
    @media (max-width:430px) {
    padding-top: 2.25rem;
    }
}

#myCheckbox:not(:checked) ~ .navbar__menu {
    @media (max-width:430px) {
        animation: fadeOutUp 0.3s ease-in-out forwards;
    }
}

#myCheckbox:checked ~ .navbar__menu {
    @media (max-width:430px) {
        animation: fadeIn 1s ease-in-out;
    }
}




